<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <style>
    </style>
</head>
<body>
    <h1 class="title" style="left: auto">首页</h1>
    <ol id="bid_list">
        {% for bid in bid_list %}
            <li>
                <h6><img src="{{ bid.image_url }}" style="margin-right: auto"/>
                    <span style="color: rebeccapurple"> {{ bid.id }} </span> |
                    <a class="url" style=" text-decoration: none" href="{{ bid.url }}">
                    <span style="color: blueviolet; "> {{ bid.title | striptags}} </span> |
                    </a>
                    <span style="color: coral"> 原价: {{ bid.price }} 元</span> |
                    {% if bid.ticket_amount == '0' %}
                        <span style="color: red">无优惠券</span> |
                        {% else %}
                        <span style="color: cornflowerblue"> 领券: {{ bid.ticket_amount }} 元</span> |
                    {% endif %}
                    {% if bid.bonus_rate != '0' %}
                        <span style="color: chartreuse"> 返利: {{ bid.bonus_rate }}% </span>|
                    {% else %}
                        <span style="color: red">无返利</span> |
                    {% endif %}
                    <span style="color: darkmagenta"> 预计佣金: {{ bid.prize_amout }} 元</span>
                </h6>
            </li>
        {% endfor %}
    </ol>
</body>
</html>