<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"><title>Data</title>
</head>
<body>
<table border=1>
<tr>
<td bgcolor=silver class='medium'>编号</td>
<td bgcolor=silver class='medium'>标题</td>
<td bgcolor=silver class='medium'>售价</td>
<td bgcolor=silver class='medium'>返利</td>
<td bgcolor=silver class='medium'>奖励</td>
<td bgcolor=silver class='medium'>优惠券</td>
</tr>

<tr>
<td class='normal' valign='top'>15216724974</td>
<td class='normal' valign='top'>朴树堂化湿止痒膏 皮肤湿痒抑菌霜大腿内侧私处外阴囊肛门瘙痒手脚身体止痒护理软膏 1瓶</td>
<td class='normal' valign='top'>48.0000</td>
<td class='normal' valign='top'>0.7000</td>
<td class='normal' valign='top'>33.6</td>
<td class='normal' valign='top'>0.0000</td>
</tr>

<tr>
<td class='normal' valign='top'>13375614468</td>
<td class='normal' valign='top'>海之灵（Haizhiling)  免蒸发膜倒膜 修复柔顺护理 蚕丝蛋白水光酸500ml</td>
<td class='normal' valign='top'>38.0000</td>
<td class='normal' valign='top'>0.7000</td>
<td class='normal' valign='top'>26.6</td>
<td class='normal' valign='top'>0.0000</td>
</tr>

<tr>
<td class='normal' valign='top'>13397870156</td>
<td class='normal' valign='top'>海之灵（Haizhiling）头发护发精油(香水味) 修复受损发质 柔顺抚平毛躁80ml</td>
<td class='normal' valign='top'>38.0000</td>
<td class='normal' valign='top'>0.7000</td>
<td class='normal' valign='top'>26.6</td>
<td class='normal' valign='top'>0.0000</td>
</tr>

<tr>
<td class='normal' valign='top'>10761540276</td>
<td class='normal' valign='top'>朴树堂股青膏 皮肤止痒膏大腿内侧肛门外阴囊湿痒体股藓皮肤瘙痒消疹护理股清膏霜 1瓶</td>
<td class='normal' valign='top'>48.0000</td>
<td class='normal' valign='top'>0.7000</td>
<td class='normal' valign='top'>33.6</td>
<td class='normal' valign='top'>0.0000</td>
</tr>

<tr>
<td class='normal' valign='top'>11289254574</td>
<td class='normal' valign='top'>蕾姵依家居服女春夏新款可外穿时尚休闲简约圆领睡衣格仔女装两件套睡衣女春夏纯棉背心短袖短裤 灰蓝配蓝 S</td>
<td class='normal' valign='top'>99.0000</td>
<td class='normal' valign='top'>0.6100</td>
<td class='normal' valign='top'>60.39</td>
<td class='normal' valign='top'>0.0000</td>
</tr>

<tr>
<td class='normal' valign='top'>10053072478</td>
<td class='normal' valign='top'>【阳江馆】漠阳花花生清香玉米调和油 1.8L/瓶 非转基因清淡食用油</td>
<td class='normal' valign='top'>88.0000</td>
<td class='normal' valign='top'>0.6000</td>
<td class='normal' valign='top'>52.8</td>
<td class='normal' valign='top'>0.0000</td>
</tr>

<tr>
<td class='normal' valign='top'>16229771569</td>
<td class='normal' valign='top'>韩美肌（Hanmeiji） 韩美肌补水保湿面膜女25ml*30片装面膜贴男女通用 24片/片装 每款8片</td>
<td class='normal' valign='top'>24.9000</td>
<td class='normal' valign='top'>0.6000</td>
<td class='normal' valign='top'>14.94</td>
<td class='normal' valign='top'>0.0000</td>
</tr>

<tr>
<td class='normal' valign='top'>15285050181</td>
<td class='normal' valign='top'>力狼（LILANG） 力狼狗粮 泰迪犬专用粮 e族 贵宾2kg4斤</td>
<td class='normal' valign='top'>69.0000</td>
<td class='normal' valign='top'>0.6000</td>
<td class='normal' valign='top'>41.4</td>
<td class='normal' valign='top'>0.0000</td>
</tr>

<tr>
<td class='normal' valign='top'>17625761409</td>
<td class='normal' valign='top'>徽歌 小黑裙香水无硅油洗发水沐浴露 男女士滋润保湿清爽控油去屑止痒洗沐组合家庭装特价包邮 白色 500ml洁净去屑洗发水+沐浴露</td>
<td class='normal' valign='top'>59.9000</td>
<td class='normal' valign='top'>0.5700</td>
<td class='normal' valign='top'>34.14</td>
<td class='normal' valign='top'>0.0000</td>
</tr>

<tr>
<td class='normal' valign='top'>11285422533</td>
<td class='normal' valign='top'>徽歌 小黑裙洗发水护发素 洗护套装 洗头水洗发露洗发乳男士女士通用 500ml小黑裙去屑止痒洗发水+护发素</td>
<td class='normal' valign='top'>59.9000</td>
<td class='normal' valign='top'>0.5700</td>
<td class='normal' valign='top'>34.14</td>
<td class='normal' valign='top'>0.0000</td>
</tr>

<tr>
<td class='normal' valign='top'>13397911064</td>
<td class='normal' valign='top'>客来客往 荷叶茶冬瓜茶 40包/袋泡茶 玫瑰花组合花茶 拍二送一 3袋优惠装</td>
<td class='normal' valign='top'>68.8000</td>
<td class='normal' valign='top'>0.5100</td>
<td class='normal' valign='top'>35.09</td>
<td class='normal' valign='top'>0.0000</td>
</tr>

<tr>
<td class='normal' valign='top'>15504059788</td>
<td class='normal' valign='top'>访客（FK） 【100g*10袋】访客 洗衣机槽清洁剂波轮式滚筒式内胆洗衣机清洗剂除垢剂 10袋超值装</td>
<td class='normal' valign='top'>19.9000</td>
<td class='normal' valign='top'>0.5000</td>
<td class='normal' valign='top'>9.95</td>
<td class='normal' valign='top'>0.0000</td>
</tr>

<tr>
<td class='normal' valign='top'>16467457064</td>
<td class='normal' valign='top'>图拉斯 苹果X手机壳iPhoneX保护套全包透明电镀硅胶10防摔TPU软套女男 【全透明】</td>
<td class='normal' valign='top'>38.0000</td>
<td class='normal' valign='top'>0.5000</td>
<td class='normal' valign='top'>19</td>
<td class='normal' valign='top'>0.0000</td>
</tr>

<tr>
<td class='normal' valign='top'>12004331339</td>
<td class='normal' valign='top'>室全室美 墙贴画墙贴纸壁纸自粘墙纸卧室客厅装饰贴玻璃贴纸电视背景墙贴厨房贴幼儿园装饰贴 并蒂莲 60*90cm</td>
<td class='normal' valign='top'>9.9000</td>
<td class='normal' valign='top'>0.5000</td>
<td class='normal' valign='top'>4.95</td>
<td class='normal' valign='top'>0.0000</td>
</tr>

<tr>
<td class='normal' valign='top'>13261320499</td>
<td class='normal' valign='top'>伊黛儿S925银针耳环耳坠女韩国气质长款吊坠潮人简约百搭短发耳钩饰品 E044绽放梅花耳环</td>
<td class='normal' valign='top'>69.0000</td>
<td class='normal' valign='top'>0.5000</td>
<td class='normal' valign='top'>34.5</td>
<td class='normal' valign='top'>0.0000</td>
</tr>

<tr>
<td class='normal' valign='top'>11490176622</td>
<td class='normal' valign='top'>室全室美 可移除创意墙贴diy自粘贴纸壁画儿童房幼儿园装饰贴宿舍寝室客厅房间背景墙装饰 企鹅</td>
<td class='normal' valign='top'>9.9000</td>
<td class='normal' valign='top'>0.5000</td>
<td class='normal' valign='top'>4.95</td>
<td class='normal' valign='top'>0.0000</td>
</tr>

<tr>
<td class='normal' valign='top'>11903058169</td>
<td class='normal' valign='top'>慕夕洗衣纸 洗衣片速溶洗衣纸 洗衣液换代产品 清洁用品 柔顺 牡丹香型 60片可洗180KG</td>
<td class='normal' valign='top'>46.0000</td>
<td class='normal' valign='top'>0.5000</td>
<td class='normal' valign='top'>23</td>
<td class='normal' valign='top'>0.0000</td>
</tr>

<tr>
<td class='normal' valign='top'>16466485370</td>
<td class='normal' valign='top'>图拉斯 苹果X手机壳iPhone X保护壳全包防摔磨砂硬外壳10手机套女薄男 iPhoneX【玫瑰金】</td>
<td class='normal' valign='top'>38.0000</td>
<td class='normal' valign='top'>0.5000</td>
<td class='normal' valign='top'>19</td>
<td class='normal' valign='top'>0.0000</td>
</tr>

<tr>
<td class='normal' valign='top'>11199431674</td>
<td class='normal' valign='top'>三戟 【京东配送】足浴盆蒸汽熏蒸电热洗脚盆沐足按摩桶泡脚盆足疗盆浴足盆加热全自动足浴器 黑白机械脚动款</td>
<td class='normal' valign='top'>99.0000</td>
<td class='normal' valign='top'>0.5000</td>
<td class='normal' valign='top'>49.5</td>
<td class='normal' valign='top'>0.0000</td>
</tr>

<tr>
<td class='normal' valign='top'>18143760365</td>
<td class='normal' valign='top'>力狼狗粮 贵宾泰迪犬专用粮成犬幼犬通用型 宠物主粮e族 贵宾犬粮2kg</td>
<td class='normal' valign='top'>69.0000</td>
<td class='normal' valign='top'>0.5000</td>
<td class='normal' valign='top'>34.5</td>
<td class='normal' valign='top'>0.0000</td>
</tr>

<tr>
<td class='normal' valign='top'>16464079905</td>
<td class='normal' valign='top'>图拉斯 iPhoneX钢化膜苹果X手机膜10抗蓝光防爆玻璃贴膜 0.15mm纤薄【蓝光款】全透明钢化膜</td>
<td class='normal' valign='top'>58.0000</td>
<td class='normal' valign='top'>0.5000</td>
<td class='normal' valign='top'>29</td>
<td class='normal' valign='top'>0.0000</td>
</tr>

<tr>
<td class='normal' valign='top'>20222690148</td>
<td class='normal' valign='top'>军医生（JUNYISHENG） 防冻防裂脚裂膏手足皲裂膏开裂脚后跟裂护足霜冻疮膏</td>
<td class='normal' valign='top'>49.0000</td>
<td class='normal' valign='top'>0.5000</td>
<td class='normal' valign='top'>24.5</td>
<td class='normal' valign='top'>0.0000</td>
</tr>

<tr>
<td class='normal' valign='top'>16467116547</td>
<td class='normal' valign='top'>图拉斯 iPhoneX手机壳苹果X保护套10硅胶全包防摔磨砂软壳女薄男 iPhoneX【腮红金】</td>
<td class='normal' valign='top'>38.0000</td>
<td class='normal' valign='top'>0.5000</td>
<td class='normal' valign='top'>19</td>
<td class='normal' valign='top'>0.0000</td>
</tr>

<tr>
<td class='normal' valign='top'>1791775505</td>
<td class='normal' valign='top'>博皓(prooral) 儿童电动牙刷2208卡通音乐牙刷套装软毛配口腔镜及2刷头 橙色</td>
<td class='normal' valign='top'>79.0000</td>
<td class='normal' valign='top'>0.5000</td>
<td class='normal' valign='top'>39.5</td>
<td class='normal' valign='top'>0.0000</td>
</tr>

<tr>
<td class='normal' valign='top'>1334763329</td>
<td class='normal' valign='top'>七匹狼袜子男春夏季 吸汗透气男袜防臭中筒袜休闲棉袜 款式1(盒装6双) 均码</td>
<td class='normal' valign='top'>39.0000</td>
<td class='normal' valign='top'>0.5000</td>
<td class='normal' valign='top'>19.5</td>
<td class='normal' valign='top'>0.0000</td>
</tr>

<tr>
<td class='normal' valign='top'>19567579575</td>
<td class='normal' valign='top'>蝶尊 【买二发三】黑玛卡滋补干果干片 玛咖切片男用云南玛卡maca 黑玛咖100g</td>
<td class='normal' valign='top'>49.0000</td>
<td class='normal' valign='top'>0.4500</td>
<td class='normal' valign='top'>22.05</td>
<td class='normal' valign='top'>0.0000</td>
</tr>

<tr>
<td class='normal' valign='top'>16305204783</td>
<td class='normal' valign='top'>浪莎LangSha袜子女士纯棉宽口袜孕妇月子袜老年人松口袜 混色6双 均码</td>
<td class='normal' valign='top'>59.0000</td>
<td class='normal' valign='top'>0.4500</td>
<td class='normal' valign='top'>26.55</td>
<td class='normal' valign='top'>0.0000</td>
</tr>

<tr>
<td class='normal' valign='top'>11192234911</td>
<td class='normal' valign='top'>伊斯登 皮带扣头皮带头男士锌合金自动扣头裤腰带头3.5cm皮带扣配件 单扣头</td>
<td class='normal' valign='top'>46.0000</td>
<td class='normal' valign='top'>0.4000</td>
<td class='normal' valign='top'>18.4</td>
<td class='normal' valign='top'>0.0000</td>
</tr>

<tr>
<td class='normal' valign='top'>22606138306</td>
<td class='normal' valign='top'>北京稻香村 京八件糕点年货礼盒沙琪玛饼干早餐食品 老北京特产休闲零食小吃 780g</td>
<td class='normal' valign='top'>59.9000</td>
<td class='normal' valign='top'>0.4000</td>
<td class='normal' valign='top'>23.96</td>
<td class='normal' valign='top'>0.0000</td>
</tr>

<tr>
<td class='normal' valign='top'>23771693186</td>
<td class='normal' valign='top'>北京稻香村 年货礼盒正宗熟食礼盒 扒鸡600g</td>
<td class='normal' valign='top'>39.9000</td>
<td class='normal' valign='top'>0.4000</td>
<td class='normal' valign='top'>15.96</td>
<td class='normal' valign='top'>0.0000</td>
</tr>

<tr>
<td class='normal' valign='top'>13977987967</td>
<td class='normal' valign='top'>玉德缘 开光天然黑曜石本命佛吊坠 八大守护神吉祥物护身符项链 附证书 属狗/猪 阿弥陀佛</td>
<td class='normal' valign='top'>95.0000</td>
<td class='normal' valign='top'>0.4000</td>
<td class='normal' valign='top'>38</td>
<td class='normal' valign='top'>0.0000</td>
</tr>

<tr>
<td class='normal' valign='top'>12427842358</td>
<td class='normal' valign='top'>后巷手工冷制皂 杏仁山羊奶皂控油洗脸皂洁面皂男女士固体洗面奶手工香皂 一块套装</td>
<td class='normal' valign='top'>68.0000</td>
<td class='normal' valign='top'>0.4000</td>
<td class='normal' valign='top'>27.2</td>
<td class='normal' valign='top'>0.0000</td>
</tr>

<tr>
<td class='normal' valign='top'>1683723495</td>
<td class='normal' valign='top'>cocovel 男士洗发水沐浴露套装 男士香水持久留香洗沐套装   500ml 男士洗发水500ml+男士沐浴露500ml</td>
<td class='normal' valign='top'>59.9000</td>
<td class='normal' valign='top'>0.4000</td>
<td class='normal' valign='top'>23.96</td>
<td class='normal' valign='top'>0.0000</td>
</tr>

<tr>
<td class='normal' valign='top'>1113666013</td>
<td class='normal' valign='top'>欧诗漫（OSM）营养美肤组合套装补水保湿透白护肤化妆品面部护理套装女 营养美肤水嫩透白组合装</td>
<td class='normal' valign='top'>99.0000</td>
<td class='normal' valign='top'>0.4000</td>
<td class='normal' valign='top'>39.6</td>
<td class='normal' valign='top'>0.0000</td>
</tr>

<tr>
<td class='normal' valign='top'>17173559400</td>
<td class='normal' valign='top'>鱼缸加热棒 加热器 自动恒温不锈钢 加温棒龟棒水族箱控温外控调节器 500W-28.5cm 外调解加热棒</td>
<td class='normal' valign='top'>99.0000</td>
<td class='normal' valign='top'>0.4000</td>
<td class='normal' valign='top'>39.6</td>
<td class='normal' valign='top'>0.0000</td>
</tr>

<tr>
<td class='normal' valign='top'>21941469157</td>
<td class='normal' valign='top'>梓彩（ZiCAI） 【买二送一】梓彩懒人V7素颜霜50g 神仙贵妇膏裸妆隔离遮瑕打底面霜</td>
<td class='normal' valign='top'>39.9000</td>
<td class='normal' valign='top'>0.4000</td>
<td class='normal' valign='top'>15.96</td>
<td class='normal' valign='top'>0.0000</td>
</tr>

<tr>
<td class='normal' valign='top'>18839910247</td>
<td class='normal' valign='top'>CORTHE V7素颜霜50g遮瑕隔离提亮肤色滋润保湿轻薄裸妆化妆品懒人面霜 元气雪颜懒人霜</td>
<td class='normal' valign='top'>59.0000</td>
<td class='normal' valign='top'>0.4000</td>
<td class='normal' valign='top'>23.6</td>
<td class='normal' valign='top'>0.0000</td>
</tr>

<tr>
<td class='normal' valign='top'>14235362097</td>
<td class='normal' valign='top'>博纳仔 狗狗零食宠物牛肉棒鸡肉棒 鸡肉棒400g</td>
<td class='normal' valign='top'>27.0000</td>
<td class='normal' valign='top'>0.4000</td>
<td class='normal' valign='top'>10.8</td>
<td class='normal' valign='top'>0.0000</td>
</tr>

<tr>
<td class='normal' valign='top'>10052992130</td>
<td class='normal' valign='top'>沃腾 智能手表表带 米兰尼斯金属磁扣 表带 适用于华为WATCH 2代智能手表 米兰磁扣  watch1代18mm黑色</td>
<td class='normal' valign='top'>98.0000</td>
<td class='normal' valign='top'>0.4000</td>
<td class='normal' valign='top'>39.2</td>
<td class='normal' valign='top'>0.0000</td>
</tr>

<tr>
<td class='normal' valign='top'>11241607700</td>
<td class='normal' valign='top'>秀才 亚克力love花藤3D立体墙贴画电视沙发背景卧室装修装饰贴 106黑字大红花 左边方向 超大</td>
<td class='normal' valign='top'>97.2000</td>
<td class='normal' valign='top'>0.4000</td>
<td class='normal' valign='top'>38.88</td>
<td class='normal' valign='top'>0.0000</td>
</tr>

<tr>
<td class='normal' valign='top'>11265077204</td>
<td class='normal' valign='top'>kitty猫亚克力3D立体墙贴画卡通创意儿童房卧室客厅装饰品可移除自粘壁纸 104款一 大红 特大</td>
<td class='normal' valign='top'>74.0000</td>
<td class='normal' valign='top'>0.4000</td>
<td class='normal' valign='top'>29.6</td>
<td class='normal' valign='top'>0.0000</td>
</tr>

<tr>
<td class='normal' valign='top'>12717129193</td>
<td class='normal' valign='top'>皮洛金 苹果6/6s/5/5s/7/plus数据线iphone充电iPad快充USB苹果线 牛仔黑 长度</td>
<td class='normal' valign='top'>25.0000</td>
<td class='normal' valign='top'>0.4000</td>
<td class='normal' valign='top'>10</td>
<td class='normal' valign='top'>0.0000</td>
</tr>

<tr>
<td class='normal' valign='top'>10565212068</td>
<td class='normal' valign='top'>轩玉堂 颈椎骨质骨刺增生 腰间腰椎盘突出 腱鞘滑膜炎 腰肌疼痛劳损 膏药油活络膏30g 活络保健膏1盒</td>
<td class='normal' valign='top'>39.8000</td>
<td class='normal' valign='top'>0.4000</td>
<td class='normal' valign='top'>15.92</td>
<td class='normal' valign='top'>0.0000</td>
</tr>

<tr>
<td class='normal' valign='top'>11479721936</td>
<td class='normal' valign='top'>后巷防脱洗发水 控油去屑滋养洗发皂无硅油洗头皂固体洗发膏手工皂天然洗发露小红帽再生养发皂 皂托套装</td>
<td class='normal' valign='top'>68.0000</td>
<td class='normal' valign='top'>0.4000</td>
<td class='normal' valign='top'>27.2</td>
<td class='normal' valign='top'>0.0000</td>
</tr>

<tr>
<td class='normal' valign='top'>25724577500</td>
<td class='normal' valign='top'>便携带盖情侣水杯水壶女生简约暖手玻璃杯男女士创意杯子清新简约学生杯旅行杯牛奶杯 白色 460ml TH7068</td>
<td class='normal' valign='top'>29.0000</td>
<td class='normal' valign='top'>0.4000</td>
<td class='normal' valign='top'>11.6</td>
<td class='normal' valign='top'>0.0000</td>
</tr>

<tr>
<td class='normal' valign='top'>10047629203</td>
<td class='normal' valign='top'>依帝欧EDO 依帝欧EDO  锅盖架放锅盖座砧板架子切菜板架座锅盖架厨房置物架厨房用品</td>
<td class='normal' valign='top'>9.5000</td>
<td class='normal' valign='top'>0.4000</td>
<td class='normal' valign='top'>3.8</td>
<td class='normal' valign='top'>0.0000</td>
</tr>

<tr>
<td class='normal' valign='top'>17806747651</td>
<td class='normal' valign='top'>后巷 发膜补水滋养（护发素  护发精油 坚果油润发乳） 243ml</td>
<td class='normal' valign='top'>68.0000</td>
<td class='normal' valign='top'>0.4000</td>
<td class='normal' valign='top'>27.2</td>
<td class='normal' valign='top'>0.0000</td>
</tr>

<tr>
<td class='normal' valign='top'>13494655907</td>
<td class='normal' valign='top'>访客 强力无痕吸盘挂钩厨房免钉粘钩 魔力挂钩 【10只装】不锈铁头</td>
<td class='normal' valign='top'>13.9000</td>
<td class='normal' valign='top'>0.4000</td>
<td class='normal' valign='top'>5.56</td>
<td class='normal' valign='top'>0.0000</td>
</tr>

<tr>
<td class='normal' valign='top'>1474052710</td>
<td class='normal' valign='top'>大宝山 金骏眉红茶 2017新茶 武夷红茶 特级金骏眉 茶叶年货礼盒 250g/罐</td>
<td class='normal' valign='top'>68.0000</td>
<td class='normal' valign='top'>0.4000</td>
<td class='normal' valign='top'>27.2</td>
<td class='normal' valign='top'>40.0000</td>
</tr>

<tr>
<td class='normal' valign='top'>10269739644</td>
<td class='normal' valign='top'>【买3送1 加粗款】访客 纯不锈钢衣架 多功能裤架晾衣架 S型多层衣挂衣撑 不锈钢加强版1只装</td>
<td class='normal' valign='top'>12.9000</td>
<td class='normal' valign='top'>0.4000</td>
<td class='normal' valign='top'>5.16</td>
<td class='normal' valign='top'>0.0000</td>
</tr>
</table>
</body></html>
