<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"><title>Data</title>
</head>
<body>
<table border=1>
<tr>
<td bgcolor=silver class='medium'>编号</td>
<td bgcolor=silver class='medium'>标题</td>
<td bgcolor=silver class='medium'>售价</td>
<td bgcolor=silver class='medium'>返利</td>
<td bgcolor=silver class='medium'>奖励</td>
</tr>

<tr>
<td class='normal' valign='top'>16229771569</td>
<td class='normal' valign='top'>韩美肌（Hanmeiji） 韩美肌补水保湿面膜女25ml*30片装面膜贴男女通用 24片/片装 每款8片</td>
<td class='normal' valign='top'>24.9000</td>
<td class='normal' valign='top'>0.6000</td>
<td class='normal' valign='top'>14.9400</td>
</tr>

<tr>
<td class='normal' valign='top'>6085302</td>
<td class='normal' valign='top'>马来西亚进口 沃欧咖啡（WOW COFFFEE）3合1香草拿铁速溶白咖啡1600g（16g*100条）</td>
<td class='normal' valign='top'>59.9000</td>
<td class='normal' valign='top'>0.5000</td>
<td class='normal' valign='top'>29.9500</td>
</tr>

<tr>
<td class='normal' valign='top'>20222690148</td>
<td class='normal' valign='top'>军医生（JUNYISHENG） 防冻防裂脚裂膏手足皲裂膏开裂脚后跟裂护足霜冻疮膏</td>
<td class='normal' valign='top'>49.0000</td>
<td class='normal' valign='top'>0.5000</td>
<td class='normal' valign='top'>24.5000</td>
</tr>

<tr>
<td class='normal' valign='top'>15504059788</td>
<td class='normal' valign='top'>访客（FK） 【100g*10袋】访客 洗衣机槽清洁剂波轮式滚筒式内胆洗衣机清洗剂除垢剂 10袋超值装</td>
<td class='normal' valign='top'>19.9000</td>
<td class='normal' valign='top'>0.5000</td>
<td class='normal' valign='top'>9.9500</td>
</tr>

<tr>
<td class='normal' valign='top'>1113666013</td>
<td class='normal' valign='top'>欧诗漫（OSM）营养美肤组合套装补水保湿透白护肤化妆品面部护理套装女 营养美肤水嫩透白组合装</td>
<td class='normal' valign='top'>99.0000</td>
<td class='normal' valign='top'>0.4000</td>
<td class='normal' valign='top'>39.6000</td>
</tr>

<tr>
<td class='normal' valign='top'>13494655907</td>
<td class='normal' valign='top'>访客 强力无痕吸盘挂钩厨房免钉粘钩 魔力挂钩 【10只装】不锈铁头</td>
<td class='normal' valign='top'>13.9000</td>
<td class='normal' valign='top'>0.4000</td>
<td class='normal' valign='top'>5.5600</td>
</tr>

<tr>
<td class='normal' valign='top'>1683723495</td>
<td class='normal' valign='top'>cocovel 男士洗发水沐浴露套装 男士香水持久留香洗沐套装   500ml 男士洗发水500ml+男士沐浴露500ml</td>
<td class='normal' valign='top'>59.9000</td>
<td class='normal' valign='top'>0.4000</td>
<td class='normal' valign='top'>23.9600</td>
</tr>

<tr>
<td class='normal' valign='top'>24627615062</td>
<td class='normal' valign='top'>清水南山 新疆若羌灰枣 红枣 小枣子干果特产零食 100g</td>
<td class='normal' valign='top'>15.9000</td>
<td class='normal' valign='top'>0.4000</td>
<td class='normal' valign='top'>6.3600</td>
</tr>

<tr>
<td class='normal' valign='top'>25724577500</td>
<td class='normal' valign='top'>便携带盖情侣水杯水壶女生简约暖手玻璃杯男女士创意杯子清新简约学生杯旅行杯牛奶杯 白色 460ml TH7068</td>
<td class='normal' valign='top'>29.0000</td>
<td class='normal' valign='top'>0.4000</td>
<td class='normal' valign='top'>11.6000</td>
</tr>

<tr>
<td class='normal' valign='top'>10269739644</td>
<td class='normal' valign='top'>【买3送1 加粗款】访客 纯不锈钢衣架 多功能裤架晾衣架 S型多层衣挂衣撑 不锈钢加强版1只装</td>
<td class='normal' valign='top'>12.9000</td>
<td class='normal' valign='top'>0.4000</td>
<td class='normal' valign='top'>5.1600</td>
</tr>

<tr>
<td class='normal' valign='top'>10565212068</td>
<td class='normal' valign='top'>轩玉堂 颈椎骨质骨刺增生 腰间腰椎盘突出 腱鞘滑膜炎 腰肌疼痛劳损 膏药油活络膏30g 活络保健膏1盒</td>
<td class='normal' valign='top'>39.8000</td>
<td class='normal' valign='top'>0.4000</td>
<td class='normal' valign='top'>15.9200</td>
</tr>

<tr>
<td class='normal' valign='top'>10047629203</td>
<td class='normal' valign='top'>依帝欧EDO 依帝欧EDO  锅盖架放锅盖座砧板架子切菜板架座锅盖架厨房置物架厨房用品</td>
<td class='normal' valign='top'>9.5000</td>
<td class='normal' valign='top'>0.4000</td>
<td class='normal' valign='top'>3.8000</td>
</tr>

<tr>
<td class='normal' valign='top'>21941469157</td>
<td class='normal' valign='top'>梓彩（ZiCAI） 【买二送一】梓彩懒人V7素颜霜50g 神仙贵妇膏裸妆隔离遮瑕打底面霜</td>
<td class='normal' valign='top'>39.9000</td>
<td class='normal' valign='top'>0.4000</td>
<td class='normal' valign='top'>15.9600</td>
</tr>

<tr>
<td class='normal' valign='top'>13535452354</td>
<td class='normal' valign='top'>惠千佳秋冬护膝保暖关节炎老寒风湿腿中老年人护腿骑车男女通用护膝盖 亲肤保暖款 中码（120-150斤佩戴）一对装</td>
<td class='normal' valign='top'>69.0000</td>
<td class='normal' valign='top'>0.3500</td>
<td class='normal' valign='top'>24.1500</td>
</tr>

<tr>
<td class='normal' valign='top'>1214109130</td>
<td class='normal' valign='top'>七丹12头三七粉超细 云南文山田七粉 三七超细粉90克</td>
<td class='normal' valign='top'>69.0000</td>
<td class='normal' valign='top'>0.3500</td>
<td class='normal' valign='top'>24.1500</td>
</tr>

<tr>
<td class='normal' valign='top'>10423412993</td>
<td class='normal' valign='top'>【京东超市】谜草集舒甲液去灰指甲药套装康甲液护理灰甲清手部护理足部护理亮甲美甲 一盒</td>
<td class='normal' valign='top'>59.9000</td>
<td class='normal' valign='top'>0.3500</td>
<td class='normal' valign='top'>20.9600</td>
</tr>

<tr>
<td class='normal' valign='top'>16873919709</td>
<td class='normal' valign='top'>H&U 宝宝面霜天然儿童润肤霜婴儿润肤乳秋冬保湿新生儿面霜</td>
<td class='normal' valign='top'>68.0000</td>
<td class='normal' valign='top'>0.3100</td>
<td class='normal' valign='top'>21.0800</td>
</tr>

<tr>
<td class='normal' valign='top'>16977291250</td>
<td class='normal' valign='top'>水光针蚕丝面膜补水保湿亮肤玻尿酸收缩毛孔嫩肤男女10片</td>
<td class='normal' valign='top'>39.9000</td>
<td class='normal' valign='top'>0.3000</td>
<td class='normal' valign='top'>11.9700</td>
</tr>

<tr>
<td class='normal' valign='top'>18970396325</td>
<td class='normal' valign='top'>继红 清洁去污运动鞋旅游鞋增白去黄小白鞋清洁剂*100ml 2瓶装</td>
<td class='normal' valign='top'>19.9000</td>
<td class='normal' valign='top'>0.3000</td>
<td class='normal' valign='top'>5.9700</td>
</tr>

<tr>
<td class='normal' valign='top'>15946115469</td>
<td class='normal' valign='top'>浪莎秋衣秋裤男士纯棉V领基础保暖内衣男套装全棉薄款棉毛衫 宝蓝色 XL(175/100)</td>
<td class='normal' valign='top'>79.0000</td>
<td class='normal' valign='top'>0.3000</td>
<td class='normal' valign='top'>23.7000</td>
</tr>

<tr>
<td class='normal' valign='top'>15380309433</td>
<td class='normal' valign='top'>喜家家 不锈钢挂钩无痕钉粘钩加强版吸盘厨房浴室卫生间免钉金属挂钩贴 （宽8个+双1个）A款</td>
<td class='normal' valign='top'>19.9000</td>
<td class='normal' valign='top'>0.3000</td>
<td class='normal' valign='top'>5.9700</td>
</tr>

<tr>
<td class='normal' valign='top'>15708953574</td>
<td class='normal' valign='top'>贝蓓佳婴儿面霜儿童护肤霜宝宝润肤保湿防皴防干裂补水50g 防皴霜50g</td>
<td class='normal' valign='top'>43.0000</td>
<td class='normal' valign='top'>0.3000</td>
<td class='normal' valign='top'>12.9000</td>
</tr>

<tr>
<td class='normal' valign='top'>18519773644</td>
<td class='normal' valign='top'>众诺中田 地垫门垫 进门入户地垫 卧室厨房脚垫 卫生间吸尘 蹭土防滑垫 门垫子 四季垫 黑灰色 40CM*60CM</td>
<td class='normal' valign='top'>19.9000</td>
<td class='normal' valign='top'>0.3000</td>
<td class='normal' valign='top'>5.9700</td>
</tr>

<tr>
<td class='normal' valign='top'>15038265377</td>
<td class='normal' valign='top'>欧丽源（OILYOUNG） 欧丽源手膜手腊嫩手手部护理手蜡护手霜去角质√倒刺√粗糙√嫩滑</td>
<td class='normal' valign='top'>39.0000</td>
<td class='normal' valign='top'>0.3000</td>
<td class='normal' valign='top'>11.7000</td>
</tr>

<tr>
<td class='normal' valign='top'>10644932916</td>
<td class='normal' valign='top'>【京东仓发】凡人居 电热毯单人/双人电褥子学生宿舍 长1.5米宽0.7米</td>
<td class='normal' valign='top'>59.0000</td>
<td class='normal' valign='top'>0.3000</td>
<td class='normal' valign='top'>17.7000</td>
</tr>

<tr>
<td class='normal' valign='top'>14185537791</td>
<td class='normal' valign='top'>【自营仓配】车载手机支架夹式重力导航仪适用汽车出风口/空调孔通用苹果小米华为三星OPPO 树脂版—钢琴黑【新品亏本冲销量】</td>
<td class='normal' valign='top'>49.0000</td>
<td class='normal' valign='top'>0.3000</td>
<td class='normal' valign='top'>14.7000</td>
</tr>

<tr>
<td class='normal' valign='top'>10482657703</td>
<td class='normal' valign='top'>德国莱克无线光学鼠标 静音鼠标 公主粉</td>
<td class='normal' valign='top'>89.0000</td>
<td class='normal' valign='top'>0.3000</td>
<td class='normal' valign='top'>26.7000</td>
</tr>

<tr>
<td class='normal' valign='top'>19513873102</td>
<td class='normal' valign='top'>域度（YUEICDON） 苹果6手机电池6sp/5s 7p内置iphone电池4.7寸 苹果6s电池【1715mAh】</td>
<td class='normal' valign='top'>88.0000</td>
<td class='normal' valign='top'>0.3000</td>
<td class='normal' valign='top'>26.4000</td>
</tr>

<tr>
<td class='normal' valign='top'>23788428378</td>
<td class='normal' valign='top'>域度 手机数据线适用于苹果6/X快充线 单头安卓小米华为type-C新品潮流果冻高速款 活力橙苹果款</td>
<td class='normal' valign='top'>18.8000</td>
<td class='normal' valign='top'>0.3000</td>
<td class='normal' valign='top'>5.6400</td>
</tr>

<tr>
<td class='normal' valign='top'>11224804676</td>
<td class='normal' valign='top'>梦之爱 玻璃调料瓶复古金属盖厨房用品调料罐三件套大号360ML 三件套大号360ML</td>
<td class='normal' valign='top'>22.9000</td>
<td class='normal' valign='top'>0.3000</td>
<td class='normal' valign='top'>6.8700</td>
</tr>

<tr>
<td class='normal' valign='top'>11915644425</td>
<td class='normal' valign='top'>凯舜小和尚汽车摆件卡通车内饰品可爱公仔创意车载摆件 四不小和尚套装</td>
<td class='normal' valign='top'>29.8000</td>
<td class='normal' valign='top'>0.3000</td>
<td class='normal' valign='top'>8.9400</td>
</tr>

<tr>
<td class='normal' valign='top'>1211527612</td>
<td class='normal' valign='top'>【京东配送】博皓(prooral)2205旋转式电动牙刷感应充电成人智能情侣牙刷配2刷头 陶瓷白</td>
<td class='normal' valign='top'>99.0000</td>
<td class='normal' valign='top'>0.3000</td>
<td class='normal' valign='top'>29.7000</td>
</tr>

<tr>
<td class='normal' valign='top'>14810787498</td>
<td class='normal' valign='top'>俞兆林暖足贴暖脚贴足贴发热帖暖宝宝暖宝贴暖脚宝暖贴暖脚垫暖贴 足贴2包（40片）</td>
<td class='normal' valign='top'>19.8000</td>
<td class='normal' valign='top'>0.3000</td>
<td class='normal' valign='top'>5.9400</td>
</tr>

<tr>
<td class='normal' valign='top'>16979303154</td>
<td class='normal' valign='top'>雅诗泉（ARSYCHLL） 素颜霜懒人V7裸妆遮瑕补水保湿提亮肤色乳液打底面霜学生女士</td>
<td class='normal' valign='top'>76.9000</td>
<td class='normal' valign='top'>0.3000</td>
<td class='normal' valign='top'>23.0700</td>
</tr>

<tr>
<td class='normal' valign='top'>12153039694</td>
<td class='normal' valign='top'>MIEZ保鲜花速递玫瑰花束同城情人节圣诞礼物生日礼物送女友 21朵小熊粉色 公主的祝福</td>
<td class='normal' valign='top'>89.0000</td>
<td class='normal' valign='top'>0.3000</td>
<td class='normal' valign='top'>26.7000</td>
</tr>

<tr>
<td class='normal' valign='top'>11117678155</td>
<td class='normal' valign='top'>【10支装】访客 干湿两用防滑衣架 晾衣挂 晾衣架 衣服架 晒衣架子 衣撑 新款无痕宽肩欧蓝10支</td>
<td class='normal' valign='top'>25.9000</td>
<td class='normal' valign='top'>0.3000</td>
<td class='normal' valign='top'>7.7700</td>
</tr>

<tr>
<td class='normal' valign='top'>11117289891</td>
<td class='normal' valign='top'>元派 雪花片1000片幼儿园男女孩过家家儿童玩具宝宝4-12岁立体拼装拼插积木塑料收纳盒装 中号加厚600片方桶装带图送160根聪明棒</td>
<td class='normal' valign='top'>25.7000</td>
<td class='normal' valign='top'>0.3000</td>
<td class='normal' valign='top'>7.7100</td>
</tr>

<tr>
<td class='normal' valign='top'>1033040466</td>
<td class='normal' valign='top'>朵拉朵尚 金桂花眼膜贴80片(去黑眼圈眼袋细纹眼贴膜疲劳眼霜女男)</td>
<td class='normal' valign='top'>39.0000</td>
<td class='normal' valign='top'>0.3000</td>
<td class='normal' valign='top'>11.7000</td>
</tr>

<tr>
<td class='normal' valign='top'>13012623785</td>
<td class='normal' valign='top'>【四件套装】访客 手提塑料收纳箱四件套衣柜衣服收纳盒宿舍玩具衣物储物整理箱 彩色混装四件装【颜色随机】</td>
<td class='normal' valign='top'>69.9000</td>
<td class='normal' valign='top'>0.3000</td>
<td class='normal' valign='top'>20.9700</td>
</tr>

<tr>
<td class='normal' valign='top'>10601432636</td>
<td class='normal' valign='top'>百露冰箱保鲜盒收纳盒 食品储物盒杂粮收纳箱厨房收纳筐 收纳用品 超值2个装</td>
<td class='normal' valign='top'>29.9000</td>
<td class='normal' valign='top'>0.3000</td>
<td class='normal' valign='top'>8.9700</td>
</tr>

<tr>
<td class='normal' valign='top'>16104749269</td>
<td class='normal' valign='top'>膜太（MOOTAA） 进口洁厕宝 清香型洁厕灵除臭除垢洁厕液 卫生间去污厕所马桶清洁剂洁厕 750ml</td>
<td class='normal' valign='top'>39.0000</td>
<td class='normal' valign='top'>0.3000</td>
<td class='normal' valign='top'>11.7000</td>
</tr>

<tr>
<td class='normal' valign='top'>13970427383</td>
<td class='normal' valign='top'>柔色（rouse） 五色眼影盘5g(多色 裸妆 易上色 显色服帖) 03干玫瑰色</td>
<td class='normal' valign='top'>59.0000</td>
<td class='normal' valign='top'>0.3000</td>
<td class='normal' valign='top'>17.7000</td>
</tr>

<tr>
<td class='normal' valign='top'>11422201124</td>
<td class='normal' valign='top'>久久达实木照片墙多框带钟表相框墙创意组合相片墙北欧现代简约客厅相框挂墙 XK6036黑白建筑+6框送墙贴</td>
<td class='normal' valign='top'>89.0000</td>
<td class='normal' valign='top'>0.3000</td>
<td class='normal' valign='top'>26.7000</td>
</tr>

<tr>
<td class='normal' valign='top'>19377178374</td>
<td class='normal' valign='top'>富贵鸟（FUGUNIAO）男士围巾商务休闲仿羊绒围巾棉质保暖围脖秋冬季 浅灰色 180cm</td>
<td class='normal' valign='top'>89.0000</td>
<td class='normal' valign='top'>0.3000</td>
<td class='normal' valign='top'>26.7000</td>
</tr>

<tr>
<td class='normal' valign='top'>19088452692</td>
<td class='normal' valign='top'>有声伴读全套10册跟着课本游中国 幼儿童地理知识启蒙绘本中国地理篇 一二年级课外必读图书籍</td>
<td class='normal' valign='top'>29.8000</td>
<td class='normal' valign='top'>0.3000</td>
<td class='normal' valign='top'>8.9400</td>
</tr>

<tr>
<td class='normal' valign='top'>10516822294</td>
<td class='normal' valign='top'>好迪（houdy） 沐浴露洗发水套装 男女士洗头膏露沐浴乳 去屑止痒修护受损发质持久留香 薰衣草洗沐套装1500ml</td>
<td class='normal' valign='top'>49.9000</td>
<td class='normal' valign='top'>0.3000</td>
<td class='normal' valign='top'>14.9700</td>
</tr>

<tr>
<td class='normal' valign='top'>11702323990</td>
<td class='normal' valign='top'>【买3送1】凤全不锈钢衣架多功能裤架S型多层裤架 裤子衣柜收纳裤挂 不锈钢色</td>
<td class='normal' valign='top'>12.9000</td>
<td class='normal' valign='top'>0.3000</td>
<td class='normal' valign='top'>3.8700</td>
</tr>

<tr>
<td class='normal' valign='top'>12861916594</td>
<td class='normal' valign='top'>【第二件半价】美莱健乳清蛋白质粉 健身 增肌增重粉 健肌粉 蛋白粉 礼袋装 官方旗舰店品质 350g/罐</td>
<td class='normal' valign='top'>79.9000</td>
<td class='normal' valign='top'>0.3000</td>
<td class='normal' valign='top'>23.9700</td>
</tr>

<tr>
<td class='normal' valign='top'>1424706701</td>
<td class='normal' valign='top'>【京仓直发】沐凡纯棉毛巾 5条套装全棉洗脸面巾 柔软加厚吸水组合装可爱卡通毛巾浴巾批发 5色各1条</td>
<td class='normal' valign='top'>49.9000</td>
<td class='normal' valign='top'>0.3000</td>
<td class='normal' valign='top'>14.9700</td>
</tr>

<tr>
<td class='normal' valign='top'>14576073260</td>
<td class='normal' valign='top'>浪莎秋裤男单件薄款男士秋冬保暖打底裤修身棉毛裤 藏青 XL(175/100)</td>
<td class='normal' valign='top'>29.0000</td>
<td class='normal' valign='top'>0.3000</td>
<td class='normal' valign='top'>8.7000</td>
</tr>
</table>
</body></html>
